:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
  --primary-background: #2f303a;
  --accent-background: #188ce8;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

/* h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.btn {
  font-family: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
} */

.social-list {
  justify-content: center;
  display: flex;
  margin-left: -10px;
}

.social-list-link {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-text-color-theme-dark);
}

/* ====  header  ==== */

/* ==== main ==== */
/* ==== HERO ==== */

/* ==== ОСОБЕННОСТИ ==== */

/* ==== Чем мы занимаемся ==== */

/* ==== НАША КОМАНДА ==== */

/* ==== Постоянные клиенты ==== */

/* ==== footer ==== */

/* ====  portfolio  ==== */

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project-list-item + .project-list-item {
  margin-left: 8px;
}

.project-btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background: var(--light-background-color);
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-btn:hover,
.project-btn:focus,
.project-btn.current {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.job-list {
  display: flex;
  flex-wrap: wrap;
}

.job-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.job-link:hover,
.job-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.job-link-thumb {
  position: relative;
  overflow: hidden;
}

.job-link-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(293px);
  opacity: 0.9;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.job-link:hover .job-link-overlay,
.job-link:focus .job-link-overlay {
  transform: translateY(0);
}

.discription-overlay {
  box-sizing: border-box;
  width: 370px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 0 24px;
  color: var(--primary-text-color-theme-dark);
}

.job-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.job-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.job-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.job-list-item {
  width: calc((100% - 60px) / 3);
  background-color: var(--primary-text-color-theme-dark);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.job-subtitle {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.job-discription {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 580px;

  background-color: #fff;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  display: flex;
  margin-left: auto;
  background-color: #fff;
  margin-right: 8px;
  margin-top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .modal-close,
.btn-close:focus .modal-close {
  fill: var(--accent-color);
}

.modal p {
  margin-top: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.form-modal {
  margin-left: 40px;
  margin-right: 40px;
}

.form-field {
  position: relative;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .form-input {
  border-color: var(--accent-color);
  outline: transparent;
}

.form-field:focus-within > .icon-form {
  fill: var(--accent-color);
}

.form-textarea {
  display: block;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  /* color: rgba(117, 117, 117, 0.5); */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus-within {
  border-color: var(--accent-color);
  outline: transparent;
}

.form-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--primary-text-color);
  border-radius: 4px;

  margin-right: 7px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/checkbox.svg");
  background-size: contain;
  background-origin: border-box;
}

.form-link {
  margin-left: 5px;
  color: var(--accent-color);
  /* border-bottom: 1px solid var(--accent-color); */
  text-decoration-line: underline;
}

.form-btn {
  text-align: center;
}
